Source: plink-ng
Section: science
Priority: optional
Maintainer: Stuart Teasdale <stuart.teasdale@genomicsplc.com>
Build-Depends: debhelper (>= 9.0.0), zlib1g-dev, libatlas-base-dev, libblas-dev, liblapack-dev
Standards-Version: 3.9.4
Homepage: https://www.cog-genomics.org/plink2/dev

Package: plink2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
