Source: plink-ng
Section: science
Priority: optional
Maintainer: Stuart Teasdale <stuart.teasdale@genomicsplc.com>
Build-Depends: debhelper (>= 9.0.0), zlib1g-dev, libatlas-base-dev, libblas-dev, liblapack-dev
Standards-Version: 3.9.4
Homepage: https://www.cog-genomics.org/plink2/dev

Package: plink2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Genome association analysis toolset.
 PLINK is a free, open-source whole genome association analysis toolset,
 designed to perform a range of basic, large-scale analyses in a
 computationally efficient manner.
 .
 Plink2 is a comprehensive update to Shaun Purcell's PLINK command-line program,
 developed by Christopher Chang with support from the NIH-NIDDK's Laboratory
 of Biological Modeling, the Purcell Lab at Mount Sinai School of Medicine,#
 and others.
 .
 Plink 2 is mostly a large collection of report-generating functions which do
 not depend on each other. plink_common contains convenience functions for
 file parsing and bit manipulation, plink_matrix encapsulates a few common
 matrix operations (which are resolved via LAPACK calls under the hood), and
 plink.c handles command-line parsing and initial dispatch; it's often not
 necessary to deal with any other files when adding a new command.
